# Exclude everything
/*

# Include default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.cmake-format.json
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Inlucde .vscode config
!/.vscode/c_cpp_properties.json
!/temp-build-arch.sh